<div class="ui raised very padded text container segment">
  <h2 class="ui header">New Training</h2>
  <% if @clients.any? %>

    <div class="ui form">
      <div class="field">
        <label>Start Date</label>
        <div class="ui calendar" id="training_date">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date">
          </div>
        </div>
      </div>
    </div>

    <div class="ui form">
      <div class="two fields">
        <div class="field">
          <label>Start time</label>
          <div class="ui calendar" id="start_time">
            <div class="ui input left icon">
              <i class="time icon"></i>
              <input type="text" placeholder="Time">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Finish time</label>
          <div class="ui calendar" id="finish_time">
            <div class="ui input left icon">
              <i class="time icon"></i>
              <input type="text" placeholder="Time">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui form">
      <div class="field">
        <label>Notes</label>
        <textarea rows="2"></textarea>
      </div>
    </div>

<!--    <div class="scrolling-wrapper" id="clients_continer"></div>-->

  <% end %>
</div>


<div class="tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="image content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>

<!--todo: hide, when empty, show when clients exist, price drop when add new client-->
<div class="ui raised very padded text container segment">
  <h3 class="ui header">Clients</h3>
  <div class="ui form">
    <div class="field">
      <label>Join clients</label>
      <select id="clients_select" class="ui fluid search dropdown" multiple="">
        <option value="">Clinets...</option>
        <% @clients.each do |client| %>
          <option value="<%= client.id %>"><%= client.first_name + " " + client.second_name %></option>
        <%end %>
      </select>
    </div>
  </div>
  <div class="scrolling-wrapper" id="clients_continer"></div>
</div>

<div class="ui raised very padded text container segment ">
  <h3 class="ui header">Exercise</h3>
  <div id="exercise_continer"></div>
  <button class="ui green button" onclick="add_exercise()">Add Exercise</button>
</div>




<!--<div class="container">-->
<!--  <div class="row">-->
    <%# if @clients.any? %>
<!--      <form id="training" style="width: 100%;">-->
<!--        <div class="form-group">-->

<!--          <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--              <label class="input-group-text" for="inputGroupSelect01">Start Date</label>-->
<!--            </div>-->
<!--            <input type="date" class="form-control" name="datetime" />-->
<!--          </div>-->

<!--          <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--              <label class="input-group-text" for="inputGroupSelect01">Note</label>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" name="description" placeholder="description" />-->
<!--          </div>-->

<!--          <select class="selectpicker" multiple>-->
            <%# for @client in @clients %>
<!--              <option value="<%#= @client.id %>"><%#= @client.first_name + " " + @client.second_name %></option>-->
            <%#end %>
<!--          </select>-->


<!--          <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--              <label class="input-group-text" for="inputGroupSelect01">Clients</label>-->
<!--            </div>-->
<!--            <select name="client_name" class="custom-select" form="training">-->
<!--                <option selected disabled>Select client...</option>-->
                <%# for @client in @clients %>
<!--                  <option value="<%#= @client.id %>"><%#= @client.first_name + " " + @client.second_name %></option>-->
                <%#end %>
<!--            </select>-->
<!--          </div>-->

<!--          <div class="scrolling-wrapper"></div>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Create Training</button>-->
<!--      </form>-->
    <%#end %>
<!--  </div>-->
<!--</div>-->

<div class="tiny modal">
  <div class="header">
    Create exercise
  </div>
  <div class="content">

    <label>Join clients</label>
    <select id="clients_select" class="ui fluid search dropdown" multiple="">
      <option value="">Clinets...</option>
      <% @clients.each do |client| %>
        <option value="<%= client.id %>"><%= client.first_name + " " + client.second_name %></option>
      <%end %>
    </select>

    <div class="ui input">
      <label>Exercise</label>
      <input type="text" placeholder="Search...">
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Create
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>


<%= javascript_include_tag('trainings.js') %>
