<%= action_cable_meta_tag %>

<div id="container_msg" style="margin-bottom: 20%">
  <% @messages.each do |msg| %>
    <p style="<%= 'float: right;'if msg.messagable_type.eql?('User')  %>">
      <%= msg.messagable_type %>: <%= msg.text %>
    </p>
  <% end %>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark" style="margin-bottom: 0px">
  <div class="input-group mb-3">
    <form action="post" method="">
      <input type="text" class="form-control" id="message" placeholder="Write your message" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="send_message(<%= @client.id %>)">Send</button>
      </div>
    </form>
  </div>
</nav>

<!--<div class="col-sm-3 col-sm-offset-4 frame">-->
<!--  <ul></ul>-->
<!--  <div>-->
<!--    <div class="msj-rta macro">-->
<!--      <div class="text text-r" style="background:whitesmoke !important">-->
<!--        <input class="mytext" placeholder="Type a message"/>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div style="padding:10px;">-->
<!--      <span class="glyphicon glyphicon-share-alt"></span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<%#= javascript_include_tag('messages.js') %>
