<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Fit Free'}"/>
  <title><% content_for?(:title) ? yield(:title) : 'Fit Free' %></title>
  <%= action_cable_meta_tag %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "application", :media => 'all' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
    <div class="ui sidebar inverted vertical menu visible">
      <div class="container_btns">
        <div class="item">
          <a href="/"><h1><b>FitFree</b></h1></a>
        </div>
        <a class="item" href="<%= calendar_index_path %>">
          <i class="calendar icon"></i>
          Calendar
        </a>
        <a class="item" href="<%= clients_path %>">
          <i class="users icon"></i>
          Clients
        </a>
        <a class="item" href="#">
          <i class="cog icon"></i>
          Settings
        </a>
      </div>
      <a class="item" href="<%= destroy_user_session_path(@user) %>">
        <i class="logout icon"></i>
        Log out
      </a>
      </div>
    <div class="pusher">

<!--      <div class="container">-->
<!--        <a class="btn btn-primary float-right float-top" rel="nofollow" data-method="delete" href="<%#= destroy_user_session_path(@user) %>">Sign Out</a>-->
<!--      </div>-->

      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
<% else %>

  <%= render 'layouts/messages' %>
  <%= yield %>

<% end %>

</body>
<!--<script src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
</html>